.bg-gray-900 {
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes myAnimation {
    0% {background-color: #000000;}
    50% {background-color: #222222;}
    100% {background-color: #000000;}
  }